.context-menu
    position: absolute
    z-index: 10
    box-shadow: 3px 3px 3px 4px rgba(0, 0, 0, 0.1)
    background: white
    padding: 0.5em
    overflow: hidden

.context-menu__item
    display: block
    cursor: pointer
